* {
   box-sizing: border-box;
 }

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
 }
 main {
   overflow: auto;
   background: white;
}

 .container h2{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
 }

 .container p{
   text-indent: 1em;
   line-height: 1.5;
   padding-left: 10px;
   padding-right: 10px;
   text-align: justify;
 }

 article h1 {
    text-align: center;
 }

 nav {
   background-color: 2C3333;
   padding: 5px;
   position: sticky;
   top: 0;
 }

 header {
   display: inline;
 }

 nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
 }

 nav a:hover {
    font-weight: bold;
 }

 .profile header {
    text-align: center;
 }

 .featured-image {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
 }

 .profile img {
   width: 100%;
 }

 .flexbox {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }


 .container {
   overflow: auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 25px;
   width: 45%;
   margin-bottom: 20px;
   margin-left: 20px;
 }

 .container-profile {
   overflow: auto;
   width: 90%;
   margin-bottom: 20px;
   margin-left: 20px;
 }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
 }

 .jumbotron {
    font-size: 20px;
    padding: 270px;
    text-align: center;
    background: #5f6161;
    color: rgb(255, 255, 255);
 }

 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
 }

 #content {
   padding: 20px;
    float: left;
    width: 75%;
 }

 aside {
    float: right;
    width: 25%;
    padding: 20px;
 }

 footer {
   padding: 20px;
   color: white;
   text-align: center;
   background-color: 2C3333;
 }

 @media screen and (max-width: 1000px) {

   .container {
      width:100%;
   }

   .jumbotron {
      width: 100%;
      padding: 20px;
   }

   #content,
   aside {
       width: 100%;
       padding: 10;
   }

   .column {
      width: 100%;
      display: block;
    }
 }